body {
  background-color: #092975;
  font-family: 'Monda', sans-serif;
}

.app-wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.circle-wrapper {
  position: absolute;
  right: 0;
  top: 0;
}

.circle {
  background-color: #E54963;
  border-radius: 50% 50%;
  transform: translate(50%, -50%);
  width: 145px;
  height: 145px;
 transition: transform 1s ease-in-out;
}

.circle.is-active {
 transform: scale(12) translate(calc(50% / 12), calc(-50% / 12));
}

.add-icon {
  position: absolute;
  right: 12px;
  top: 12px;
}

.add-icon__vert_bar {
  transition: transform 1s;
  transform-origin: center;
  transform: scaleY(1);
}

.add-icon__vert_bar.is-open {
  transform: scaleY(0);
}

.link-form__wrapper {
  position: absolute;
  height: calc(100vh - 78px);
  bottom: 0;
  width: 100vw;
  display: none;
  align-items: center;
  padding-bottom: 78px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.5s;
  transition-delay: 0.5s;
}

.is-open.link-form__wrapper {
  opacity: 1;
}

.is-avalable.link-form__wrapper {
  display: flex;
}

.link-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100vw;
  opacity: 1;
  font-family: 'Monda', sans-serif;
}

.link-form.is-saving {
  opacity: .75;
}


.hypert-form__title {
  padding: 0 18px;
  margin: 8px 30px;
  font-size: 24px;
  font-family: 'Monda', sans-serif;
  color: white;
  align-self: flex-start;
}

.hypert-form__input {
  padding: 0 18px;
  height: 56px;
  box-sizing: border-box;
  width: calc(100% - 60px);
  margin: 8px 30px;
  border-radius: 5px;
  font-size: 24px;
  outline: none;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
  font-family: 'Monda', sans-serif;
}

.hypert-form__input::placeholder { /* Most modern browsers support this now. */
  color: #92C5DD;
}

.hypert-form__error {
  color: white;
  align-self: flex-start;
  font-size: 18px;
  padding: 0 18px;
  margin: 8px 30px;
}

.hypert-form__btn {
  background-color: #92C5DD;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 24px;
  margin: 8px 30px;
  border-radius: 5px;
  padding: 0 18px;
  outline: none;
  outline-style:none;
  /* box-shadow:none; */
  border-color:transparent;
  font-family: 'Monda', sans-serif;
}

.api-overlay__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255,255,255,0.75);
  display: none;
  align-items: center;
}

.api-overlay__wrapper.is-open {
  display: flex;
}


.api-overlay__body {
  background-color: #E54963;
  border-radius: 10px;
  margin: 0 25px;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.link__body {
  padding: 0 17px;
}

.link__title {
  color: white;
}

.link-tabs {
  display: flex;
  color: white;
  min-height: 46px;
}

.link-tabs__tab.is-active {
    border-bottom: 2px solid;
}

.link-tabs__tab {
    margin: 0 5px;
    padding: 0 5px;
}

.link-tabs__title {
  margin-bottom: 2px;
}


.links__inner-wrapper,
.links__wrapper {
  max-height: 100vh;
  box-sizing: border-box;
}

.links__inner-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.links {
  overflow-y: scroll;
  box-sizing: border-box;
}

.link {
  margin-top: 20px;
  color: white;
}

.link__title-bar {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 50px auto;
}

.link__break-icon {
  background-color: #92C5DD;
  border-radius: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.link__break-icon p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.link__title {
  grid-row: 1 / span 2;
  grid-column: 2;
  font-size: 20px;
  margin-top: 10px;
  padding-left: 10px;
}

.link__url {
  text-decoration: underline;
  font-size: 14px;
  margin: 0;
}

.link__icons {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
